@import "src/styles/index";

$auth-index: $index;

.signin_container {
  display: grid;
  margin-top: calc($index * 15);

  p:nth-child(1) {
    color: $primary;
    text-align: center;
    letter-spacing: calc($auth-index * -1.5);
    font-weight: bold;
    font-size: calc($auth-index * 30);
    margin-bottom: calc($auth-index * 20);
  }


  p:nth-child(4) {
    margin-top: calc($auth-index * 8);
    color: $accent;
    font-size: $font-xs;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}