@import "src/styles/index";

.upload_wrap {
  border-radius: calc($index * 7) calc($index * 7) calc($index * 14) calc($index * 14);

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc($index * 1.2);

    .title {
      font-size: calc($font-m * .97);

      p {
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .close {
      color: $primary-dark;
      transition: all .25s ease;

      &:hover {
        transform: rotate(270deg) scale(1.3);
        color: $accent;
      }
    }
  }

  .upload_container {
    border-radius: calc($index * 10);
    margin-top: calc($index * 15);
  }

}