@import "src/styles/index";

.upload_wrap {
  position: absolute;
  background-color: $secondary;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: calc($index * 7) calc($index * 7) calc($index * 14) calc($index * 14);
  padding: calc($index * 15);

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: calc($index * 1.5) solid $accent;

    .title {
      font-size: calc($font-m * .97);

      p {
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .close {
      color: $primary-dark;
      transition: all .25s ease;

      &:hover {
        transform: rotate(270deg) scale(1.3);
        color: $accent;
      }
    }
  }

  .upload_container {
    border-radius: calc($index * 10);
    background-color: $secondary-light;
    padding: calc($index * 15);
    margin-top: calc($index * 15);
  }

}