@import "src/styles/index";

.auth_container {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  height: calc($index * 525);
  width: calc($index * 950);
  transform: translate(-50%, -50%);
  border-radius: 24px;
  background: #fff;
}
