@import "src/styles/index";

.auth_container {
  margin: calc(50vh - calc(calc($index * 525) / 2)) auto;
  width: calc($index * 950);
  height: calc($index * 525);

  .auth_content {
    position: absolute;
    overflow: hidden;
    height: calc($index * 525);
    width: calc($index * 950);
    border-radius: 24px;
    background: #fff;
  }
}