@import "src/styles/index";

$auth-index: $index;

.auth_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary;
  height: calc($auth-index * 500);
  width: calc($auth-index * 800);
  border: none;
  border-radius: calc($auth-index * 17);
}