@import "src/styles/index";

.cart_container {
  position: relative;
  max-width: calc($index * 900);
  background-color: $secondary-light;
  border-radius: calc($index * 10);
  padding: calc($index * 11) calc($index * 18);

  .close {
    position: absolute;
    right: calc($index * 20);
    top: calc($index * 20);
    transition: all .25s ease;

    &:hover {
      transform: rotate(270deg) scale(1.3);
      color: $accent;
    }
  }

  div {
    margin-bottom: calc($index * 3);
  }

  .heading {
    display: inline-block;
    margin-right: calc($index * 3);
    color: #000000;
  }

  .subheading {
    display: inline-block;
  }

  .name {
    font-size: $font-m;
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: calc($index * 17);
      cursor: pointer;
      transition: transform .4s ease;

      &:hover {
        transform: scale(1.13);
      }
    }
  }

  .location {
    color: $primary;
  }

  .salary {
    color: $primary;
  }

  .description {
    color: $primary;
  }

  .id {
    font-size: $font-xs;
    margin-top: calc($index * 10);
    color: rgba(0, 0, 0, 0.4);
  }
}



$forms-main-color: black;
$forms-accent-color: rgba(0, 0, 0, 0.65);
$forms-index: calc($index * 12);

.input_container {
  width: auto;
}

.forms_container {
  position: relative;
  padding: $forms-index 0 0;
  width: 100%;

  &:nth-child(1) {
    width: 30%;
  }

  &:nth-child(2) {
    width: 25%;
  }

  &:nth-child(3) {
    width: 25%;
  }
}

.form_field {
  width: 100%;
  border: 0;
  border-bottom: calc($forms-index * .0683) solid $forms-main-color;
  outline: 0;
  font-size: $forms-index;
  color: $forms-main-color;
  padding: calc($forms-index * .4783) 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form_label {
    font-size: $forms-index;
    cursor: text;
    top: 50%;
    color: $forms-accent-color;
  }
}

.form_label {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  transition: 0.2s;
  font-size: calc($forms-index * .8);
  color: $forms-accent-color;
}

.form_field:focus {
  ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: calc($forms-index * .8);
    color: $forms-main-color;
  }

  padding-bottom: calc($forms-index * .4783);
  border-image-slice: 1;
  border-color: $forms-main-color;
}

.submit_btn {
  margin-top: calc($index * 10);
  border-radius: calc($index * 5);
  background-color: transparent;
  padding: calc($index * 2) calc($index * 20);
  color: $accent;
  border: $index solid $accent;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .4s ease;

  &:hover {
    background-color: $accent;
    color: $secondary-light;
  }
}

.forms_description {
  margin-top: calc($index * 15);

  textarea {
    height: calc($index * 100);
    padding: calc($index * 7);
    border-radius: calc($index * 5);
    resize: none;
    width: calc(100% - calc($index * 20));
    background-color: rgba(255, 255, 255, 0.5);
  }
}
