@import "src/styles/index";

.form {
  display: flex;
  flex-direction: column;
  max-width: calc($index * 500);

  .submit_btn {
    margin-top: calc($index * 7);
    border-radius: calc($index * 5);
    background-color: transparent;
    padding: calc($index * 2) calc($index * 20);
    color: $accent;
    border: $index solid $accent;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease;
    max-width: 100px;

    &:hover {
      background-color: $accent;
      color: $secondary-light;
    }
  }
}

.input_container {@include input_container(#000000A0, #000000E5, #fff)}
.type {max-width: calc($index * 500)}
