@import "src/styles/index";

.intro {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: calc($index * 10);

  div {
    border-radius: calc($index * 7) calc($index * 7) calc($index * 14) calc($index * 14);
    padding: calc($index * 20);
    background-color: white;
    display: grid;
    row-gap: calc($index * 10);

    &:nth-child(1) {

      p:nth-child(2) {
        max-width: calc($index * 245);
      }
    }

    &:nth-child(2) {

      p:nth-child(2) {
        max-width: calc($index * 290);
      }
    }


  }



  .title {
    font-size: $font-l;
    line-height: calc($font-l * 1.2);
    letter-spacing: calc($font-l * -.02);
    color: $primary-dark;
  }

  .description {
    font-size: $font-xs;
    letter-spacing: calc($index * .3);
    align-self: end;
  }
}