@import "src/styles/index";

.intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: calc($index * 10);

  .discover_vacancies,
  .why_jj {
    border-radius: calc($index * 7) calc($index * 7) calc($index * 14) calc($index * 14);
    padding: calc($index * 20);
    background-color: white;
    display: grid;
    row-gap: calc($index * 10);

    .title {
      font-size: $font-menu-l;
      line-height: 1.4;
      letter-spacing: calc($font-menu-l * -.02);
      color: $primary-dark;
    }

    .description {
      font-size: $font-menu-xs;
      letter-spacing: calc($index * .3);
      align-self: end;
    }
  }

  .discover_vacancies {
    .description {
      max-width: calc($index * 245);
    }
  }

  .why_jj {
    .description {
      max-width: calc($index * 290);
    }
  }
}
