@import "src/styles/index";

.cart_container {
  max-width: calc($index * 900);
  background-color: $secondary-light;
  border-radius: calc($index * 10);
  padding: calc($index * 11) calc($index * 18);

  div {
    margin-bottom: calc($index * 3);
  }

  .profession {
    font-size: $font-m;
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: calc($index * 17);
      cursor: pointer;
      transition: transform .4s ease;

      &:hover {
        transform: scale(1.13);
      }
    }
  }

  .location {
    color: $primary;
  }

  .salary {
    color: $primary;
  }

  .description {
    color: $primary;
  }

  .id {
    font-size: $font-xs;
    margin-top: calc($index * 10);
    color: rgba(0, 0, 0, 0.4);
  }


}

