@import "src/styles/index";

.navs {
  display: flex;
  align-items: center;
  font-size: calc($font-s * 1.1);
  height: calc($index * 60);
  background-color: white;
  padding-left: calc($index * 15);
}

.nav {
  position: relative;
  display: inline-block;
  margin-left: calc($index * 25);
}

.nav a {
  color: rgba(0, 0, 0, 0.75);

  &:hover{
    color: black;
  }

  &:active {
    color: red;
  }
}

.nav:after {
  content: '>';
  position: absolute;
  top: 6%;
  right: calc($index * -17);
  color: rgba(0, 0, 0, 0.5);
}


.navs .nav:last-child:after {
  display: none;
}