@import "src/styles/index";

.wrap {
  display: grid;
  grid-template-rows: calc($index * 39) auto;
  margin-left: calc($index * 275);
  margin-right: calc($index * 10);
  padding-top: calc($index * 10);
  height: calc(100vh - calc($index * 20));
}