@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import 'normalize';
@import 'mixins/form';

body, html, #root {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(135, 145, 210, 0.88), rgb(179, 163, 224));
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}