@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import 'normalize';
@import 'mixins/form';

body, html, #root {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(128deg,  rgba(148, 158, 227, 0.88), rgb(167, 140, 234));
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}