@import "consts";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

svg, path {
  color: inherit;
}

::selection {
  background-color: $secondary;
  color: $accent;
}
