@import "src/styles/index";




.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: end;

  .user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: calc($index * 8);

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc($index * 40);
      width: calc($index * 40);
      border-radius: 50%;
      background-color: #261c5f;
      color: rgba(255, 255, 255, 0.8);
    }

    .username {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      color: rgba(255, 255, 255, 0.8);

      .username_value {
        align-self: end;
        font-size: calc($font-s * .8);
        line-height: 1.1;
      }

      .username_edit {
        align-self: start;
        font-size: calc($font-xs * .9);
        cursor: pointer;
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.65);
      }
    }

    .username_input {
      display: flex;
      width: calc($index * 155);
      align-items: center;

      .form {
        border-bottom: 1px solid white;
        padding-bottom: 2px;
      }

      .input_field {
        border: none;
        background-color: transparent;
        width: calc($index * 115);
        color: white;
      }

      .action_btn {
        background-color: transparent;
        border: none;
        margin-left: calc($index * 5);
      }

      svg {
        color: rgba(255, 255, 255, 0.82);
        height: calc($index * 13);
        cursor: pointer;
        transition: transform .4s ease, color .4s ease;

        &:hover {
          transform: scale(1.3);
          color: rgba(255, 255, 255, 0.82);
        }
      }
    }
  }

  .logout_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    .logout_img {
      height: calc($index * 23);
      width: calc($index * 23);
      transition: transform .4s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}
