@import "src/styles/index";

.container {
  margin-top: calc($index * 120);
  display: flex;
  flex-direction: column;
  align-items: center;


  .image {
    max-width: 850px;
  }

  .text {
    color: rgba(0, 0, 0, 0.15);
    font-size: $font-xl;
    font-weight: bold;
  }
}