@import "src/styles/index";

$auth-index: $index;

.signup_container {
  display: grid;
  margin-top: calc($index * 15);

  .title {
    color: $primary;
    text-align: center;
    letter-spacing: calc($auth-index * -1.5);
    font-weight: bold;
    font-size: calc($auth-index * 30);
    margin-bottom: calc($auth-index * 20);
  }


}