@import "src/styles/index";

.features {
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  row-gap: calc($index * 10);
  border-radius: calc($index * 14);
  padding: calc($index * 20);
  background-color: white;

  .features_heading {
    .title {
      margin-bottom: calc($index * 10);
      font-size: $font-menu-l;
      line-height: 1.1;
      color: $primary-dark;
      letter-spacing: calc($font-menu-l * -.01);
    }

    .description {
      margin-bottom: calc($index * 2);
      font-size: $font-menu-s;
      line-height: 1.4;
      color: $primary;
      letter-spacing: calc($index * .3);
    }
  }

  .features_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    column-gap: calc($index * 10);

    .easy_navigation,
    .advanced_filters,
    .secure_platform {
      position: relative;
      display: grid;
      grid-template-rows: auto auto auto;
      margin-top: calc($index * 20);
      padding: calc($index * 10);
      color: $primary;
      border-radius: calc($index * 7);
      background-color: $secondary-light;
      transition: all .5s ease;

      &:hover {
        color: $secondary;
        transform: scale(1.01);

        &::after {
          width: 100%;
        }
      }

      > span > svg {
        height: calc($index * 20);
        width: calc($index * 20);
        margin-bottom: calc($index * 20);
      }

      .heading {
        align-self: end;
        font-size: $font-menu-s;
        line-height: calc($index * 25);
      }

      .description {
        align-self: end;
        font-size: $font-menu-xs;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        border-radius: calc($index * 10);
        background-image: $accent-gradient;
        transition: all .5s ease;
      }
    }

    .easy_navigation,
    .advanced_filters {
      .description {
        max-width: calc($index * 315);
      }
    }

    .secure_platform {
      .description {
        max-width: calc($index * 270);
      }
    }
  }
}
