@import "src/styles/index";

.features {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: calc($index * 10);
  border-radius: calc($index * 14);
  padding: calc($index * 20);
  background-color: $secondary;

  .features_intro {

    .title {
      font-size: $font-l;
      line-height: calc($font-l * 1.2);
      letter-spacing: calc($font-l * -.01);
      color: $primary-dark;
      margin-bottom: calc($index * 10);
    }

    .description {
      font-size: $font-s;
      line-height: calc($index * 10);
      letter-spacing: calc($index * .3);
      color: $primary;
      margin-bottom: calc($index * 2);
    }
  }

  .features_container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: calc($index * 10);

    div {
      color: $primary;
      margin-top: calc($index * 20);
      border-radius: calc($index * 7);
      padding: calc($index * 10);
      background-color: #f5f5f5;
      position: relative;
      transition: all .5s ease;

      &::after {
        content: '';
        position: absolute;
        background-color: $accent;
        z-index: -1;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: all .5s ease;
        border-radius: calc($index * 10);
      }

      &:hover {
        transform: scale(1.01);
        color: $secondary;

        &::after {
          width: 100%;
        }
      }

      svg {
        height: calc($index * 20);
        width: calc($index * 20);
        margin-bottom: calc($index * 20);
      }

      p:nth-child(2) {
        font-size: $font-s;
        line-height: calc($index * 25);
      }

      p:nth-child(3) {
        font-size: $font-xs;
      }
    }
  }
}