@import "src/styles/index";



$forms-main-color: black;
$forms-accent-color: rgba(0, 0, 0, 0.65);
$forms-index: calc($index * 12);

.user_info {
  display: grid;
  border-radius: calc($index * 10);
  align-self: end;
  grid-template-columns: 1fr 6fr .6fr;
  column-gap: calc($index * 8);
  align-items: center;
  height: calc($index * 33);

  .profile_pic {
    background-color: $accent;
    color: $secondary;
    justify-self: start;
    align-content: center;
    height: calc($index * 30);
    width: calc($index * 30);
    text-align: center;
    border-radius: 50%;
  }

  .username {
    justify-self: start;
    position: relative;
    color: $primary-dark;
    font-size: calc($font-xs * 1.01);

    svg {
      color: rgba(0, 0, 0, 0.4);
      height: calc($index * 11);
      margin-left: calc($index * 3);
      cursor: pointer;
      transition: transform .4s ease, color .4s ease;

      &:hover {
        transform: scale(1.3);
        color: rgba(0, 0, 0, 0.55);
      }
    }
  }

  .username_input {
    border-bottom: 1px solid $primary-dark;
    width: calc($index * 155);
    margin-bottom: calc($index * 2.5);

    input {
      border: none;
      width: calc($index * 115);
    }

    button {
      background-color: transparent;
      border: none;
      margin-left: calc($index * 5);
    }
    svg {
      color: rgba(0, 0, 0, 0.4);
      height: calc($index * 13);
      margin-left: calc($index * 2);
      cursor: pointer;
      transition: transform .4s ease, color .4s ease;

      &:hover {
        transform: scale(1.3);
        color: rgba(0, 0, 0, 0.55);
      }
    }
  }


  .logout_btn {
    justify-self: end;
    align-self: center;
    cursor: pointer;
    transition: transform .4s ease;

    &:hover {
      transform: scale(1.15);
    }

    .logout_img {
      color: $accent;
      margin-top: calc($index * 4);
      height: calc($index * 19);
      width: calc($index * 19);
    }
  }






}