@import "src/styles/index";

.jobs {
  background-color: $secondary;
  padding: calc($index * 15);
  height: calc(100vh - calc($index * 88));
  border-radius: calc($index * 7) calc($index * 7) calc($index * 14) calc($index * 14);
  position: relative;
}