@import "src/styles/index";

.icon_container {
  display: inline-flex;
  justify-content: center;
  justify-self: center;
  gap: 14px;
  margin-bottom: calc($index * 22);

  > span {
    display: inline-block;
    position: relative;
    width: calc($index * 44);
    height: calc($index * 44);
    border: $index solid $primary-dark;
    border-radius: calc($index * 10);
    transition: all .5s ease;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0);
      transform: scale(1.1);

      > svg {
        color: $secondary;
      }
    }

    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc($index * 20);
      height: calc($index * 20);
      color: $primary-dark;
      transform: translate(-50%, -50%);
      transition: all .5s ease;
    }
  }
}
