@import "src/styles/index";

.wrap {
  display: grid;
  grid-template-columns: min-content 1fr;

  .content_container {
    height: 100vh;

    .content {
      background-color: #f8f8f8;
      height: calc(100vh - calc($index * 60));
      padding: calc($index * 30) calc($index * 40);
    }
  }
}