@import "src/styles/index";

.wrap {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: calc($index * 10);
  column-gap: calc($index * 10);

  .content_container {

    .content {
      position: relative;
      height: calc(100vh - calc($index * 57));
    }
  }
}