@import "src/styles/index";


.name {
  font-size: $font-l;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: calc($font-l * -.02);
}

.navigation {
  position: relative;
  display: inline-flex;
  margin-top: calc($index * 10);
  height: calc($index * 33);
  font-size: calc($font-l * .5);
  letter-spacing: calc($index * -.57);
  border-bottom: calc($index * 2.2) solid rgba(0, 0, 0, 0.15);

  a {
    color: rgba(0, 0, 0, 0.2);
    height: calc($index * 30);
    padding: 0 calc($index * 10);
    border-bottom: calc($index * 2) solid transparent;
    transition: all .4s ease;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(3) {
      padding-right: 0;
    }

    &.active {
      color: $accent;

      &:nth-child(1) ~ .selector {
        left: 0;
        width: calc($index * 30);
      }

      &:nth-child(2) ~ .selector {
        left: calc($index * 45);
        width: calc($index * 100);
      }

      &:nth-child(3) ~ .selector {
        left: calc($index * 160);
        width: calc($index * 95);
      }
    }

    &:hover {

      &:nth-child(1) ~ .selector {
        left: 0;
        width: calc($index * 30);
      }

      &:nth-child(2) ~ .selector {
        left: calc($index * 45);
        width: calc($index * 100);
      }

      &:nth-child(3) ~ .selector {
        left: calc($index * 160);
        width: calc($index * 95);
      }
    }
  }




}

.selector {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: calc($index * -2);
  height: calc($index * 2);
  right: 0;
  background-color: $accent;
  border-radius: calc($index * 5);
  transition: all .5s ease;
}
