@import "src/styles/index";


$forms-main-color: black;
$forms-accent-color: rgba(0, 0, 0, 0.65);
$forms-index: calc($index * 15);



.forms_container {
  position: relative;
  padding: 15.5px 0 0;
  width: 100%;

  div {
    position: absolute;
    display: inline-block;
    bottom: 7%;
    right: 0;
    background-color: transparent;
    border: none;

    svg {
      color: $forms-accent-color;
      height: 18.6px;
      width: 18.6px;
      cursor: pointer;
    }
  }
}

.form_field {
  width: 100%;
  border: 0;
  border-bottom: 1.05865px solid $forms-main-color;
  outline: 0;
  font-size: 15.5px;
  color: $forms-main-color;
  padding: 7.41465px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form_label {
    font-size: 15.5px;
    cursor: text;
    top: 50%;
    color: $forms-accent-color;
  }
}

.form_label {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  transition: 0.2s;
  font-size: 12.4px;
  color: $forms-accent-color;
}

.form_field:focus {
  ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12.4px;
    color: $forms-main-color;
  }

  padding-bottom: 7.41465px;
  border-image-slice: 1;
  border-color: $forms-main-color;
}

.hidden {
  visibility: hidden;
  color: $accent;
  font-size: $font-xs;
  cursor: pointer;
}

.forgot {
  color: $accent;
  font-size: $font-xs;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}



.btn {
  border: none;
  text-transform: uppercase;
  padding: calc($index * 10) calc($index * 45);
  font-size: calc($index * 15);
  justify-self: center;
  background-color: $accent;
  margin-top: calc($index * 60);
  margin-left: calc($index * 65);
  border-radius: calc($index * 5);
  color: $secondary;
  margin-bottom: calc($index * 30);
}

