@import "src/styles/index";


.sidebar_container {
  position: fixed;
  display: grid;
  grid-template-rows: calc($index * 55) auto auto;
  row-gap: calc($index * 10);
  height: calc(100vh - calc($index * 45));
  margin: calc($index * 10);
  width: calc($index * 225);
  font-size: calc($index * 15);
  padding: calc($index * 10) calc($index * 15) calc($index * 15);
  border-radius: calc($index * 15);
  background-color: $secondary;

  .heading {
    align-content: center;
    margin-top: calc($index * 5);
    background-color: #eeeeee;
    border-radius: calc($index * 12);
    padding-left: calc($index * 10);
    font-size: $font-l;
    font-weight: bold;
    color: $accent;
    line-height: calc($font-l * 1.2);
  }

  ul {
    p {
      font-size: $font-xs;
      letter-spacing: calc($index * 1);
      position: relative;
      color: rgba(0, 0, 0, 0.55);
      margin-left: calc($index * 15);
      margin-top: calc($index * 7);
      margin-bottom: calc($index * 7);


      &::after {
        color: rgba(0, 0, 0, 0.55);
        letter-spacing: calc($index * -2.6);
        transform: translate(-50%, -50%);
        position: absolute;
        right: 0;
        top: 23%;
      }

      &::before {
        color: rgba(0, 0, 0, 0.55);
        content: '__';
        letter-spacing: calc($index * -2.8);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 23%;
        left: -6%;
        right: 102%;
      }

      &:nth-child(1) {
        margin-top: 0;
        &::after {
          content: '_____________________';
          left: 58.5%;
        }
      }

      &:nth-child(5) {

        &::after {
          content: '_____________________________';
          left: 42.7%
        }
      }

      &:nth-child(9) {

        &::after {
          content: '_____________________________';
          left: 43.3%;
        }
      }
    }


    li {
      position: relative;
      height: calc($index * 30);

      a {
        color: $primary-dark;
        height: 100%;
        letter-spacing: calc($index * .6);
        align-content: center;
        font-size: $font-s;
        display: block;
        padding-left: calc($index * 12);
        border-radius: calc($index * 9);
        transition: all .4s ease;

        &:hover {
          background-color: #eeeeee;
        }

        &.active {
          background-color: #eeeeee;
        }
      }
    }
  }
}




