@import "src/styles/index";


.sidebar_container {
  position: fixed;
  height: calc(100vh - calc($index * 45));
  margin: calc($index * 10);
  width: calc($index * 225);
  font-size: calc($index * 15);
  padding: calc($index * 10) calc($index * 15) calc($index * 15);
  border-radius: calc($index * 15);
  background-color: white;

  .user_info {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
    height: calc($index * 30);
    margin-bottom: calc($index * 20);

    div {

      &:nth-child(1) {
        background-color: $accent;
        color: $secondary;
        justify-self: start;
        padding: calc($index * 2) calc($index * 9) calc($index * 3);
        text-align: center;
        border-radius: 50%;
      }

      &:nth-child(2) {
        color: $primary-dark;
        font-size: $font-s;
        justify-self: start;
        padding-left: calc($index * 8);
      }

      &:nth-child(3) {
        justify-self: end;

        svg {
          color: $accent;
          align-self: center;
          justify-self: center;
          height: calc($index * 17);
          width: calc($index * 17);

        }
      }
    }
  }

  ul {



    p {
      font-size: $font-xs;
      letter-spacing: calc($index * 1);
      position: relative;
      margin-left: calc($index * 15);
      margin-top: calc($index * 20);
      margin-bottom: calc($index * 10);


      &::after {
        letter-spacing: calc($index * -2.6);
        transform: translate(-50%, -50%);
        position: absolute;
        right: 0;
        top: 23%;
      }

      &::before {
        content: '__';
        letter-spacing: calc($index * -2.5);
        transform: translate(-50%, -50%);
        position: absolute;
        color: $primary;
        top: 23%;
        left: -6%;
        right: 102%;
      }

      &:nth-child(1) {
        margin-top: 0;
        &::after {
          content: '_____________________';
          left: 58.5%;
        }
      }

      &:nth-child(5) {

        &::after {
          content: '_____________________________';
          left: 42.7%
        }
      }

      &:nth-child(8) {

        &::after {
          content: '_____________________________';
          left: 43.3%;
        }
      }
    }


    li {
      position: relative;
      height: calc($index * 30);

      a {
        color: $primary-dark;
        height: 100%;
        align-content: center;
        display: block;
        padding-left: calc($index * 15);
        border-radius: calc($index * 5);
        transition: all .4s ease;

        &.active {
          color: white;
          background-color: $accent;
        }
      }
    }
  }
}




