@import "src/styles/index";

.sidebar {
  display: grid;
  position: relative;
  grid-template-rows: calc($index * 55) auto auto;
  row-gap: 10px;
  height: 100vh;

  width: calc($index * 85);
  padding: calc($index * 10) calc($index * 15) calc($index * 15);

  background-image: linear-gradient(180deg, #1f1650, #342b70, #3c2f79);
  transition: all .5s ease;

  &.full_sidebar {
    width: calc($index * 260);
  }
}
