@import "src/styles/index";

.wrap {
  max-height: calc(100vh - calc($index * 214));
  padding: calc($index * 12);
  background-color: white;
  border-radius: calc($index * 12);
  overflow: scroll;
  display: grid;
  grid-auto-rows: auto;
  row-gap: calc($index * 15);
  margin-top: calc($index * 15);
}