@import "src/styles/index";


.sidebar_container {
  display: grid;
  grid-template-rows: calc($index * 55) auto auto;
  row-gap: calc($index * 10);
  height: 100vh;
  width: calc($index * 260);
  font-size: calc($index * 15);
  padding: calc($index * 10) calc($index * 15) calc($index * 15);
  background-image: linear-gradient(180deg, #1f1650, #342b70, #3c2f79);

  .heading {
    align-content: center;
    text-align: center;
    border-radius: calc($index * 12);
    font-size: $font-l;
    color: $secondary;
  }

  ul {
    p {
      font-size: $font-xs;
      letter-spacing: calc($index * 1);
      position: relative;
      color: rgba(155, 155, 155, 0.8);
      margin-left: calc($index * 15);
      margin-top: calc($index * 7);
      margin-bottom: calc($index * 7);


      &::after {
        letter-spacing: calc($index * -2.6);
        transform: translate(-50%, -50%);
        position: absolute;
        right: 0;
        top: 23%;
      }

      &::before {
        content: '__';
        letter-spacing: calc($index * -2.8);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 23%;
        left: -6%;
        right: 102%;
      }

      &:nth-child(1) {
        margin-top: 0;
        &::after {
          content: '_____________________';
          left: 58.5%;
        }
      }

      &:nth-child(5) {

        &::after {
          content: '_____________________________';
          left: 42.7%
        }
      }

      &:nth-child(9) {

        &::after {
          content: '_____________________________';
          left: 43.3%;
        }
      }
    }


    li {
      position: relative;
      height: calc($index * 30);

      a {
        color: rgba(206, 206, 206, 0.8);
        height: 100%;
        letter-spacing: calc($index * .6);
        align-content: center;
        font-size: $font-s;
        display: block;
        padding-left: calc($index * 12);
        border-radius: calc($index * 9);
        transition: all .4s ease;

        &:hover {
          background-color: rgba(121, 114, 199, 0.25);
        }

        &.active {
          background-color: rgba(121, 114, 199, 0.25);
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}




