@import "src/styles/consts";

@mixin input_container($light, $dark, $background, $form-size) {
  position: relative;
  padding: $form-size 0 0;

  &.name {width: min(max(calc(calc($index * 1000) - 50vw), 70%), 100%)}
  &.location {width: min(max(calc(calc($index * 1000) - 50vw), 70%), 100%)}
  &.salary {
    width: min(max(calc(calc($index * 1000) - 50vw - 62px), calc(70% - 62px)), calc(100% - 62px));

    .form_field {
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    > select {
      position: absolute;
      top: $form-size;
      bottom: 0;
      border-radius: 0 calc($form-size / 2.58) calc($form-size / 2.58) 0;
    }
  }

  .form_field {
    width: 100%;
    position: relative;
    border: calc($form-size / 15) solid $light;
    border-radius: calc($form-size / 2.58);
    outline: 0;
    font-size: $form-size;
    color: $dark;
    padding: calc($form-size / 1.82);
    background: transparent;
    transition: all 0.2s;

    &:user-invalid {
      border-color: #c40000;
    }

    &::placeholder {
      font-size: 0;
    }

    &:placeholder-shown ~ .form_label {
      font-size: $form-size;
      cursor: text;
      top: 42%;
      color: $light;
    }
  }

  .form_area {
    resize: none;
    height: calc($form-size * 9);

    &:placeholder-shown ~ .form_label {
      font-size: $form-size;
      cursor: text;
      top: 15%;
      color: $light;
    }
  }

  .form_label {
    position: absolute;
    top: calc($form-size / 3.1);
    left: calc($form-size / 1.1);
    margin: 0;
    padding: 0;
    display: block;
    transition: 0.2s;
    background-color: $background;
    font-size: calc($form-size / 1.176);
    color: $light;
  }

  .form_field:focus {
    ~ .form_label {
      position: absolute;
      top: calc($form-size / 3.1);
      display: block;
      transition: 0.2s;
      font-size: calc($form-size / 1.13);
      color: $dark;
    }

    border-image-slice: 1;
    border-color: $dark;
  }
}
