@import "src/styles/index";

.home_container {
  display: flex;
  flex-direction: column;
  row-gap: calc($index * 10);
  max-height: calc(100vh - calc($index * 104));
  overflow: scroll;

  .name {
    font-size: $font-l;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: calc($font-l * -.02);
  }
}