@import "src/styles/index";

.home_container {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: calc($index * 10);

  .name {
    font-size: $font-l;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: calc($font-l * -.02);
  }
}