@import "src/styles/index";

.stats {
  display: grid;
  grid-template-rows: auto auto;
  padding: calc($index * 10);
  border-radius: calc($index * 12);
  background-color: white;

  div {
    padding: calc($index * 10);
  }

  .title {
    font-size: $font-menu-l;
    line-height: calc($font-menu-l * 1.2);
    color: $primary-dark;
    letter-spacing: calc($font-menu-l * -.02);

    > p {
      font-size: $font-menu-s;
      line-height: 1.4;
      letter-spacing: calc($index * .3);
      color: $primary;
    }
  }

  .stats_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    gap: calc($index * 10);

    > div > span {
      font-size: $font-menu-l;
    }

    > div > p {
      font-size: $font-menu-s;
      align-self: end;
    }

    > div {
      color: $primary-dark;
      display: grid;
      position: relative;
      grid-template-rows: auto auto;
      border-radius: 12px;
      background-color: $secondary-light;
      transition: all .5s ease;

      &:after {
        content: '';
        position: absolute;
        background-image: $accent-gradient;
        z-index: -1;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: all .5s ease;
        border-radius: calc($index * 10);
      }

      &:hover {
        transform: scale(1.02);
        color: $secondary;
        background-color: rgba(0, 0, 0, 0.1);

        &::after {
          width: 100%;
        }
      }
    }
  }
}
