@import "src/styles/index";

.cart_container {
  position: relative;
  max-width: calc($index * 900);
  padding: calc($index * 11) calc($index * 18);

  line-height: 1.55;
  color: rgba(0, 0, 0, 0.75);

  border-radius: calc($index * 10);
  background-color: $secondary-light;

  .profession {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: $font-m;
    font-weight: bold;

    > div > span > svg {
      height: calc($index * 17);
      margin-left: calc($index * 5);
      transition: transform .4s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.13);
      }
    }
  }

  .id {
    line-height: 2.2;
    font-size: $font-xs;
    color: rgba(0, 0, 0, 0.4);
  }
}
