@import "src/styles/index";

.layer_container {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #6256b7, $accent);
  transition: all 0.4s ease-in-out;

  &.layer_is_on_right {
    right: 0;
    left: 50%;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;

    .right_text_container {
      left: 150%;
      transition: all .4s ease-in-out;
    }
  }

  &.layer_is_on_left {
    left: 0;
    right: 50%;
    border-top-right-radius: 130px;
    border-bottom-right-radius: 130px;

    .left_text_container {
      left: -50%;
      transition: all .4s ease-in-out;
    }
  }

  .left_text_container,
  .right_text_container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    right: 50%;
    width: calc($index * 325);
    color: white;
    transform: translate(-50%, -50%);
    transition: all .4s ease-in-out;

    > h1 {
      margin-bottom: calc($index * 13);
      margin-top: calc($index * 87);
      font-size: calc($font-l * 1.1);
    }

    > p {
      margin: 0 calc($index * 7);
      color: rgba(255, 255, 255, 0.6);
    }

    > button {
      justify-self: center;
      margin-top: calc($index * 123);
      padding: calc($index * 9) calc($index * 44);
      text-transform: uppercase;
      font-size: calc($index * 15);
      color: $secondary;
      border: 1.5px solid white;
      border-radius: calc($index * 5);
      background-color: transparent;
      transition: all .4s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  .right_text_container {
    width: calc($index * 300);
  }
}
